{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            Update Your Profile
        </div>
        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.portfolio_url.label_tag }}
                    <input type="text" name="{{ form.portfolio_url.html_name }}" value="{{ form.portfolio_url.value|default_if_none:"" }}" class="form-control" id="{{ form.portfolio_url.id_for_label }}" />
                </div>
                <div class="form-group">
                    {{ form.expertise_area.label_tag }}
                    <input type="text" name="{{ form.expertise_area.html_name }}" value="{{ form.expertise_area.value|default_if_none:"" }}" class="form-control" id="{{ form.expertise_area.id_for_label }}" />
                </div>
                <div class="form-group">
                    {{ form.profile_photo.label_tag }}
                    <input type="file" name="{{ form.profile_photo.html_name }}" class="form-control-file" id="{{ form.profile_photo.id_for_label }}" />
                </div>
                {% for i in "12345" %}
                <div class="form-group">
                    <label for="social_media_link_{{ forloop.counter }}">Social Media Link {{ forloop.counter }}:</label>
                    <input type="url" id="social_media_link_{{ forloop.counter }}" name="social_media_link_{{ forloop.counter }}" class="form-control" 
                    {% if social_media_links %}
                    value="{{ social_media_links.forloop.counter0 }}"
                    {% endif %}
                    >
                </div>
                {% endfor %}
                <div class="form-group">
                    <label>Life Categories:</label>
                    {% for category in form.life_categories %}
                        <div class="form-check">
                            {{ category }}
                            <label class="form-check-label" for="{{ category.id_for_label }}">
                                {{ category.choice_label }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Update Profile</button>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}