* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Brand text styling */
.brand-name {
    user-select: none;
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative; /* Establish a positioning context */
}

/* Container for the brand, which will have the animated background */
.brand-container {
    padding: 10px 20px;
    border-radius: 25px; /* Rounded corners like a button */
    display: inline-block;
    position: relative; /* Needed for pseudo-elements */
    overflow: hidden; /* Ensures the background is contained within the border-radius */
}

/* Pseudo-element for the sliding background */
.brand-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; /* Start from the left */
    width: 200%; /* Twice the width to allow sliding effect */
    height: 100%;
    background: linear-gradient(-135deg, black 50%, white 50%);
    z-index: -1;
    animation: slideBackground 20s linear infinite; /* Sliding background animation */
}

.brand-create, .brand-nova {
    font-size: 1.5rem;
    color: white; /* Initial text color is white */
    position: relative; /* To ensure text is above the pseudo-element */
    z-index: 1;
}

/* Animation for the sliding background */
@keyframes slideBackground {
    0%, 100% {
        left: -100%;
        background: linear-gradient(-135deg, black 50%, white 50%);
    }
    50% {
        left: 0%;
        background: linear-gradient(-135deg, white 50%, black 50%);
    }
}

@keyframes textColorChangeCreate {
    0%, 100% {
        color: black; /* 'Create' starts as black */
    }
    50% {
        color: white; /* 'Create' changes to white at the halfway point */
    }
}

/* Keyframes for text color transition for 'Nova' */
@keyframes textColorChangeNova {
    0%, 100% {
        color: white; /* 'Nova' starts as white */
    }
    50% {
        color: black; /* 'Nova' changes to black at the halfway point */
    }
}

/* Apply the text color change animation to 'Create' */
.brand-create {
    animation: textColorChangeNova 20s linear infinite;
}

/* Apply the text color change animation to 'Nova' */
.brand-nova {
    animation: textColorChangeCreate  20s linear infinite;
}


/* Responsive design adjustments */
@media (min-width: 576px) {
    .brand-create, .brand-nova {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .brand-create, .brand-nova {
        font-size: 2.5rem;
    }
}

/* Add this inside your style.css file */
/* Custom styles for 3D glass effect navbar */
.glass-navbar {
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.7); /* Adjust transparency as needed */
    border-bottom: 2px solid rgba(255, 255, 255, 0.3); /* White border for depth */
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Shadow for 3D effect */
}

.glass-navbar::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1), /* Full black */
        rgba(25, 25, 25, 0.7), /* Slightly lighter black */
        rgba(0, 0, 0, 1)  /* Full black */
    );
    background-size: 300% 100%;
    animation: moveGradient 10s linear infinite;
    z-index: -1;
    mix-blend-mode: multiply;
}

ul li a {
    color: white;
    padding-right: 8px;
}


#below-hero {
    perspective: 1500px; /* Add perspective to create 3D space */
  }
  
  .home-content {
    transform-style: preserve-3d; /* Allow 3D transformations */
    animation: float 5s ease-in; /* Floating effect */
    background: linear-gradient(135deg, red 50%, white 50%); /* 3D red and white background */
    border-radius: 15px; /* Rounded corners for the div */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    padding: 20px;
  }
  
  .content-title, .content-description {
    display: block;
    backface-visibility: hidden; /* Hide the back of the element when it is rotated in 3D */
    transform: translateZ(60px); /* Move the text towards the viewer */
    color: black; /* Text color changed to black */
    margin: 0.5em 0; /* Margin for spacing */
  }
  
  .btn-3d {
    border: 0;
    margin-top: 15px;
    background-color: black;
    color: white;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.5); /* Glossy and shiny effect */
    backface-visibility: hidden;
    transform: translateZ(30px);
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s; /* Transition for background color added */
  }
  
  .btn-3d:hover, .btn-3d:focus {
    background-color: red; /* Button turns red on hover */
    color: white; /* Text color stays white */
    transform: translateZ(50px) translateY(-10px);
    box-shadow: 0 20px 25px rgba(255, 255, 255, 0.75); /* Increased glossiness on hover/focus */
  }
  
  /* Keyframe animations */
  @keyframes float {
    0%, 100% { transform: translate3d(0, 0, 0); }
    50% { transform: translate3d(0, -20px, 0); }
  }
  
  #website-services {
    perspective: 1500px;
    transform-style: preserve-3d;
    animation: float 5s ease-in ;
  }
  
  .service-content {
    transform-style: preserve-3d;
    background: linear-gradient(45deg, #FFFFFF 50%, red 50%);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    padding: 20px;
    color:  black;
    margin-bottom: 50px; /* Adjust as needed */
  }
  
  .service-title, .service-description {
    display: block;
    backface-visibility: hidden;
    transform: translateZ(60px);
    margin: 0.5em 0;
  }
  
  .btn-3d-service {
    border: 0;
    margin-top: 15px;
    background-color: black;
    color: white;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.5);
    backface-visibility: hidden;
    transform: translateZ(30px);
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
  }
  
  .btn-3d-service:hover, .btn-3d-service:focus {
    background-color: red; /* Button turns red on hover */
    transform: translateZ(50px) translateY(-10px);
    box-shadow: 0 20px 25px rgba(255, 0, 0, 0.75);
    color:white;
  }
  
  /* Keyframe animations */
  @keyframes float {
    0%, 100% { transform: translate3d(0, 0, 0); }
    50% { transform: translate3d(0, -20px, 0); }
  }
  /* Footer Styles */
.footer-style {
  background-color: #000; /* Same as header for consistency */
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-content a {
  color: #fff; /* Make sure links are visible */
  margin: 0 10px;
  display: inline-block; /* Align icons next to each other */
}

/* Example style for LinkedIn icon, replace with actual class/id */
.linkedin-icon {
  width: 30px; /* Set your desired size */
  height: auto;
}

/* Navbar Toggler Icon color change */
.navbar-toggler-icon {
  
  
  background-color: white;/* This will make it white, adjust as needed */
}

/* Add icons to navbar links */
.nav-link .fa { /* Assuming you are using Font Awesome */
  margin-right: 8px; /* Spacing between icon and text */
}

/* Contact link moved to footer */
/* ... */

/* Responsive adjustments for alignment and visibility */
@media (min-width: 992px) {
  /* ... existing media queries ... */
  /* Adjust navbar link colors for visibility */
  .nav-link {
      color: #ffffff; /* or any other color for better visibility */
  }
  /* Center the navbar if it's not already */
  .navbar {
      justify-content: center;
  }
}
  /* Adjustments for alignment to the bottom right */
  @media (min-width: 992px) {
    #website-services .container {
      display: flex;
      justify-content: flex-end;
    }
  }