*  {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

/* Add this inside your style.css file */

.glass-navbar {
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    overflow: hidden;
}

.glass-navbar::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: linear-gradient(
        120deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.5)
    );
    background-size: 200% 100%;
    background-position: 100% 50%;
    animation: moveGradient 8s ease-in-out infinite alternate;
    z-index: -1;
    mix-blend-mode: overlay;
}

@keyframes moveGradient {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
