*  {
    box-sizing: border-box;
    padding:0;
    margin:0;
}
/* header */ 
/* Brand text styling */
.brand-name {
    user-select: none; /* Prevent text selection */
    font-weight: bold;
    margin: 0; /* Remove default h1 margin */
    display: flex; /* Flex container to better control child elements */
    justify-content: center; /* Center children horizontally */
  }
  
  /* Individual parts of brand name */
  .brand-create, .brand-nova {
    padding: 10px 20px; /* Padding for spacing */
    color: white; /* White text color */
    font-size: 1.5rem; /* Starting font size */
  }
  
  /* Specific styling for 'Nova' */
  .brand-nova {
    color: black; /* Black text color */
    background: white; /* White background */
    border-top-right-radius: 25px; /* Rounded corner on the right side */
    border-bottom-right-radius: 25px; /* Same as above */
  }
  
  /* Responsive design adjustments */
  @media (min-width: 576px) {
    .brand-create, .brand-nova {
      font-size: 2rem; /* Larger font size on small devices and up */
    }
  }
  
  @media (min-width: 768px) {
    .brand-create, .brand-nova {
      font-size: 2.5rem; /* Larger font size on medium devices and up */
    }
  }
  
  /* Keyframes for gradient animation on the navbar */
  @keyframes moveGradient {
    0% {
      background-position: 200% center;
    }
    100% {
      background-position: -200% center;
    }
  }

/* Add this inside your style.css file */
/* Custom styles for 3D glass effect navbar */
.glass-navbar {
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.7); /* Adjust transparency as needed */
    border-bottom: 2px solid rgba(255, 255, 255, 0.3); /* White border for depth */
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Shadow for 3D effect */
}

.glass-navbar::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 1), /* Full black */
        rgba(25, 25, 25, 0.7), /* Slightly lighter black */
        rgba(0, 0, 0, 1)  /* Full black */
    );
    background-size: 300% 100%;
    background-position: 100% 50%;
    animation: moveGradient 100s linear infinite;
    z-index: -1;
    mix-blend-mode: multiply;
}

@keyframes moveGradient {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/* Ensure text color is white */


ul li a {
    color: white;
  }