{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<head>

    <link rel="stylesheet" href="{% static 'css/businessservice.css' %}">

</head>
 <!-- Business Services Section -->
 <section id="business-services" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="glass-effect p-4">
                    <h2>Business Services</h2>
                    <ul class="list-unstyled">
                        <li>Websites Landing Page - From IDR 1,000,000</li>
                        <li>Advertising and Information Website - From IDR 2,500,000</li>
                        <li>E-commerce Website - From IDR 5,000,000</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Content Creator Services Section -->
<section id="creator-services" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="gradient-effect p-4">
                    <h2>Content Creator Advertising</h2>
                    <ul class="list-unstyled">
                        <li>Single Advertising - From IDR 500,000</li>
                        <li>Campaign, Multiple Platforms - From IDR 1,500,000</li>
                        <li>Large Campaign with Live reviews and in person visitations  - From IDR 3,000,000</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
{% endblock %}